.cart-item-container {
  display: flex;
  flex-wrap: wrap;
}
.cart-item-container > div {
  width: 240px;
  height: 240px;
}
.cart-img > img {
  width: 220px;
  height: 220px;
  cursor: pointer;
}
.cart-item-details {
  margin-top: 10px;
  text-align: start;
}
.cart-item-brand-category {
  margin-bottom: 0.5rem;
}
.cart-item-brand-category > p {
  color: var(--gray);
}
.quantity-btn{
    margin-right: 10px;
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 50%;
    background-color: var(--primary-color);
    cursor: pointer;
}
.quantity-btn:hover{
  background-color: var(--secondary-color);
  color: #fff;
}
.quantity{
    margin-right: 10px;
}

.cart-item-price-details {
  margin-top: 1rem;
}
.cart-item-price-details > p {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.cart-item-price {
  font-weight: bold;
}
.cart-item-original-price {
  color: var(--gray);
  text-decoration: line-through;
}

.cart-item-card-btn {
  margin-top: 1rem;
}
.cart-item-card-btn > button {
  width: 14.8rem;
}
.item-add-wishlist > button {
  background-color: var(--white);
  color: var(--primary-color);
}

/* _______________________________________________________ */

@media screen and (max-width: 750px) {
  
  .cart-item-container > div {
    width: 156px;
    height: 223px;
  }
  .cart-img > img {
    width: 150px;
    height: 150px;
  }
  .cart-item-price-details {
    margin-top: 0.5rem;
  }
  .cart-item-price-details > p {
    gap: 0.2rem;
  }
  .cart-item-card-btn {
    margin-top: 0.3rem;
  }
  .cart-item-card-btn > button {
    width: 10rem;
    height: 2rem;
    font-size: small;
  }
}
