
.home-container{
    font-family: 'Montserrat', sans-serif;
    padding: 3rem 6rem;
}
.heading{
    text-align: center;
    padding-bottom: 2.5rem;
    color: var(--primary-color);
    font-size: 1rem;
}
.para{
    padding-top: 2.5rem;
}
.bg-img-container {
    background-image: url('../../assets/cover.jpg');
    background-position: center;
    background-size: cover;
    height: 30rem;
    opacity: 0.9;
    background-size:contain;
    cursor: pointer;
}
.home-btn{
    margin:10rem;
    position: relative;
    top:15rem;
    width: 9rem;
    height: 2.2rem;
    border: none;
    background-color: white;
    border-radius: 2rem;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 0;
}
.home-btn:hover{
    background-color: var(--primary-color);
    color: #fff;
}
.category-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
.category{
    box-shadow: 0px 5px 10px 0px var(--gray);
    width: 20rem;
    height: 20rem;
    margin: 1rem;
}
.category:hover{
    transform: scale(1.01);
}
.category-name>p{
    position: relative;
    left:7.5rem;
    top: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--primary-color);
}
.category-image>img{
    width: 20rem;
    height: 240px;
}

/* mobile device */
@media screen and (max-width:750px){
    .home-container{
        padding: 3rem 1.2rem;
        overflow-x: hidden;
    }
    .heading{    
        font-size: 0.9rem;
    }
    .bg-img-container {
        height: 20rem;
        background-size: 28rem;
    }
    .home-btn{
        top: 5.5rem;
        right: 4rem;
    }
    .category{
        width: 16rem;
        height: 18rem;
        margin: 1.2rem;
    }
    .category-image>img{
        width: 16rem;
        height: 220px;
    }
    .category-name>p{
        left:6rem;
        top: 2rem;
        font-size: 1.2rem;
    }
   
}