.new-address{
    text-align: center;
    margin: 1rem auto;
    padding-top: 0.5rem;
    
}
.address-inputs{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.address-inputs>input{
    width: 20rem;
    margin: 15px;
    text-align: start;
    padding: 7px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 11px;
}

.address-form-btn{
    margin: 0 1rem;
    padding-bottom: 1rem;
    display: flex;
    gap: 1rem;
}
.address-form-btn>button{
    background-color: white;
    width: 5rem; 
    height: 2rem;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.save-btn{
    border: 1px solid green;
    color: green;
}
.save-btn:hover{
    background-color: green;
    color: white;
}
.cancel-btn{
    border: 1px solid #dc2626;
    color: #dc2626;
    margin-left: 9rem;
}
.cancel-btn:hover{
    background-color: #dc2626;
    color: white;
}

/* ____________________________________________________ */
@media screen and (max-width:550px){
    .address-inputs>input{
        width: 16rem;
    }
    .cancel-btn{
        margin-left: 5rem;
    }
}