*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --primary-color: #e3bd23;
  --dark-primary-color: #816907;
  --secondary-color:#a19400;

  --primary-color: #4F709C ;
  --secondary-color:#213555;
  --white: #ffffff;
  --gray:gray;
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
}
::-webkit-scrollbar{
  -webkit-appearance: none;
  width: 5px;
}
::-webkit-scrollbar-thumb{
  border-radius: 4px;
  background-color: var(--gray);
}


