*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --primary-color: #e3bd23;
  --dark-primary-color: #816907;
  --secondary-color:#a19400;

  --primary-color: #4F709C ;
  --secondary-color:#213555;
  --white: #ffffff;
  --gray:gray;
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
}
::-webkit-scrollbar{
  -webkit-appearance: none;
  width: 5px;
}
::-webkit-scrollbar-thumb{
  border-radius: 4px;
  background-color: var(--gray);
}

.shop-now-btn{
  width: 10rem;
  height: 2rem;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  font-size: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  margin-top: 1rem;
  text-transform: uppercase;
}
.shop-now-btn:hover {
  background-color: var(--secondary-color);
}

